body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.common-counter-style {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

#main-counter {
    font-size: 2em;
    color: #333;
}

#other-counters {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.counter {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.counter-item h3, .common-counter-style h2 {
    margin: 0;
    font-size: 1.5em;
}

.counter-item p {
    margin: 0;
}
